---
layout: base
---

{% import "macros/heros.njk" as hero with context %}

{{ hero.article(title, description, image, imageCaption) }}

 {{ content | safe  }}

<div class="tags wrapper mt-2">
    {% for tag in tags %}
        {% if tag != "posts" %}
            <a href="/tag/{{ tag | slugify }}/"><span class="pill">{{ tag }}</span></a>
        {% endif %}
    {% endfor %}
</div>