---
layout: base
---

{% import "macros/heros.njk" as hero with context %}

{{ hero.article(title, description, image, imageCaption) }}

<article class="article">
    {% if role %}
        <div class="wrapper project project-single">
            <dl class="project-meta mt-1">
                <dt>Role</dt>
                <dd>{{ role }}</dd>

                <dt>Period</dt>
                <dd>{{ period }}</dd>

                <dt>Status</dt>
                <dd>{{ status }}</dd>

                <dt>Stack</dt>
                <dd>{{ stack }}</dd>
            </dl>         
        </div> 

        {# Visit button #}
        {% if url %}
            <div class="wrapper ">
                {% set project_cta_text = "" %}
                {% set project_cta_url = url %}

                {% if url_button %}
                    {% set project_cta_text = url_button %}
                {% else %}
                    {% set project_cta_text = "Visit" %}
                {% endif %}
                
                <a href="{{ project_cta_url }}" class="btn btn-sm btn-primary btn-cta fit-content mt-1" {% if url %} target="_blank" rel="noopener noreferrer" {% endif %}>{{ project_cta_text }}</a>
            </div>
        {% endif %}
        
    {% endif %}

    {% templatey content %}



    {# {{ content | safe  }} #}
</article>

<div class="tags wrapper mt-2">
    {% for tag in tags %}
        {% if tag != "posts" %}
            <a href="/tag/{{ tag | slugify }}/"><span class="pill">{{ tag }}</span></a>
        {% endif %}
    {% endfor %}
    <p class="mt-1"><a href="/blog/">← Back to archive</a></p>
</div>
