<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %} {{ title }} - {% endif %}{{ site.name }}</title>
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link rel="canonical" href="https://minimo.io">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Roboto+Mono:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="/style.css" rel="stylesheet" />
    <script src="/bundle.js" defer></script>
    <link href="/images/favicon.png" rel="icon" sizes="32x32">
    <style>svg{ max-width: 15px; }img{ max-width: 100%; }</style>
</head>
<body>
    <a href="#main" class="skip-to-main-content">Skip to main content</a>

    {{ content | safe }}
    
    {% include "footer.njk" %}

    <!-- Test ld+json results here: https://search.google.com/test/rich-results/result -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": Mínimo - Nicolás Erramuspe",
            "url": "https://minimo.io",
            "logo": "/images/yet-another-guy.webp"
        }
    </script>    
</body>
</html>