[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"


[[redirects]]
  from = "/work/betizen/"
  to = "https://www.betizen.org/"
  status = 301
  force = true