---
title: "Betizen"
description: How can we make the iGaming affiliate space not tu suck?
date: 2022-01-30T14:00:25-03:00
image: /assets/images/projects/project-betizen.webp
imageCaption: The Betizen project on mobile
permalink: /work/betizen/
star: true
status: Ongoing
stack: Wordpress
period: 2020 - now
role: Creator
url: https://www.betizen.org/
tags:
    - project
    - iGaming
    - wordpress
    - affiliate marketing
---
<div class="wrapper">
    
    <h2 id="intro" class="h3 font-italic">The idea.</h2>
    <p>Transparent listings of online casinos, games, bonuses and affiliate programs, no BS, just fun!</p>
    <p>
        Three years after leaving the iGaming affiliate industry in 2019 I created <a href="https://www.betizen.org">Betizen.org</a> Yet another affiliate project that aims to offer reliable and radically transparent listings of online casinos and (crypto gaming), games, bonuses and affiliate programs for emerging markets.
    </p>

    <p><strong>Goal</strong>: Bring fairness & transparency to the iGaming affiliate world, without false promises. Just a transparent <a href="/tag/affiliate-marketing/">affiliate marketing</a> site with curated listings of platforms, free slots, bonuses, games and fun!</p>

    <p>Simple, straight and without BS!</p>

    <h2 id="affiliate-manager" class="h3 font-italic">Are you an affiliate manager?</h2>

    <p>
        🎰 Looking to list your platform on Betizen.org?
        Let's do it here:
        <a href="https://bit.ly/add_casino_to_betizen" target="_blank" rel="nofollow noopener">https://bit.ly/add_casino_to_betizen</a>
    </p> 
    
</div>