---
title: "Braaay"
description: "An e-commerce store focused on the Uruguayan & Brazilian wine experience"
date: 2023-09-01T01:23:23-03:00
image: /assets/images/projects/project-braaay-store-3.webp
imageCaption: "Braaay.com, desktop and mobile"
star: true
stack: Figma, Woocommerce
status: Ongoing
period: Sept 2023 - now
role: Partner/Developer/Designer
permalink: /work/braaay-store/
tags:
    - project
    - woocommerce
    - wordpress
    - design
---

<div class="wrapper">
    <p class="fs-400 font-italic">
        A wines & craft beer e-commerce, app & store for Brazil and Uruguay.
    </p>
    <p>Initial work:</p>
    <ul>
        <li>
            <span class="text-underline font-weight-400">Branding & Design</span>, identity, guides, business cards, sales pdfs & logos.</li>
        <li>
            <span class="text-underline font-weight-400">UX/UI Design</span>, website & (future) app.</li>
        <li>
            <span class="text-underline font-weight-400">Development</span>, a custom WooCommerce theme created on top of Uncode + Adhoc plugins.</li>
        <li>
            <span class="text-underline font-weight-400">Payment Gateways</span>
            implementations for Brazil and Uruguay, based on MercadoPago & OpenNode.</li>
    </ul>
</div>