---
title: Dictionary of the Lunfardo slang
description: A vocabulary (lexicon) of slang words from the Ríoplatense &amp; Tango Spanish for those who want to learn to be ill spoken. Here the Dictionary of Lunfardo.
image: /assets/images/blog/lunfardo-hero.webp
date: 2022-09-27T21:57:06-03:00
imageCaption: "diccionario-del-lunfardo"
draft: true
tags:
    - literature
    - javascript
    - alpinejs
---

<div class="wrapper">
    <h2 id="about-lunfardo">About Lunfardo</h2>
    <p>
        <a href="https://en.wikipedia.org/wiki/Lunfardo">Lunfardo</a> is a slang or an argot originating from the Río de la Plata, a way of speaking that was born in the slums of Buenos Aires, Montevideo and Rosario, where European immigration was abundant. One of the first written records of lunfardo was made by the policeman and journalist Benigno Lugones (1857-1884) when he published in 1879 in the newspaper La Nación the way of speaking that he heard in police stations [<a href="#references">1</a>].
    </p>
    <p>
        Roberto Arlt (1900-1942) followed; of a Prussian father and Austro-Hungarian mother, he grew up in literature. It remains only to see his Aguafuertes Porteñas (Aquafortis Porteñas) or the novel El juguete Rabioso (The Rabid Toy), as examples, and for having been born in those places of diversity of customs, languages and dialects from far away, scrambled by a creole.
        Later, other “macanudos” would inflate its literary substance even more and would even dedicate an academy to it [<a href="#references">2</a>], studies and a dictionary, like Gobello with his Nuevo diccionario del lunfardo.        
    </p>
    <p>
        Known as the “language of thieves” at the time and of tango [<a href="#references">3</a>] later, this criminal lexicon remains here, enriched with modern additions to the dictionary (with words like “yuta” or “rati”), the result of the contributions of terms from rock and roll and cumbia rhythm, for the use of old and new generations.         
    </p>
    <p>
    As for this <strong>Dictionary of the Lunfardo</strong> slang, it is the first of its kind that it is possible to dynamically consult. I collected the most common terms for the first version and aspire to collect them all. If you want to collaborate with this dictionary, you can do it from <a href="https://github.com/minimo-io/appticles/tree/main/mo-lunfardo">this Github page</a> since the code is open source. If you are interested in the technical side of it, the code is written in Alpine.js and is loaded dynamically from Github via jsdelivr.        
    </p>


    <h2 id="references">References</h2>
    <ol>
        <li><a href="http://geocities.ws/lunfa2000/lugones.html">Police sketches by Leopoldo Lugones.</a></li>
        <li><a href="https://www.lunfardo.org.ar/">Buenos Aires academy of Lunfardo.</a></li>
        <li><a href="https://www.youtube.com/watch?v=A8OnGOmmNNU">"Milonga Lunfarda" song by Edmundo Rivero.</a></li>
    </ol>
  
</div>
