---
title: "ViiVPay"
description: "Cross-border financial technology with focus in LATAM"
date: 2024-12-12T09:17:23-03:00
image: /assets/images/projects/project-viivpay-2.png
imageCaption: "ViiVPay first design"
star: true
stack: Svelte, NestJS
status: Ongoing
period: Dec 2024 - now
role: Partner/Developer/Designer
url: https://viivpay.com
permalink: /work/viivpay/
tags:
    - project
    - svelte
    - api
    - design
---

<div class="wrapper">
    <p class="fs-400 font-italic">
        Cross-border financial technology with a focus in the LATAM market. Transparent Borderless Payments.
    </p>
    <p>We put transparency at the heart of everything we do. From clear, no-surprise fees to detailed information about every transaction, from start to finish.</p>
    <ul>
        <li>Transparent exchange rates</li>
        <li>Transactions statuses</li>
        <li>Regulatory compliance</li>
        <li>Processing deadlines</li>
        <li>Simplified documentation</li>
        <li>Data security</li>
        <li>Dispute resolution</li>
        <li>Feedback and usage metrics</li>
    </ul>

</div>
