---
title: "Futurewise"
description: "An automated AI training platform & Newsletter"
date: 2024-12-12T09:30:23-03:00
image: /assets/images/projects/project-futurewise-3.png
imageCaption: "futurewise.lat"
star: true
stack: Svelte, Python
status: Ongoing
period: Dec 2024 - now
role: Partner/Developer/Designer
url: https://futurewise.lat
permalink: /work/futurewise/
tags:
    - project
    - svelte
    - ai
    - python
    - playwright
---

<div class="wrapper">
    <p class="fs-400 font-italic">
        An automated AI training platform
    </p>
    <p>Futurewise is an experimental project aiming to be an automated AI training platform, with curated AI tools, news & courses for the LATAM market.
        Minimal, simple, to the point. A sort of BensBites for low GDP countries.</p>
    <p>From content, to images, to code, to operations, automated using AI & Playwright.</p>
    <p>More about the project <a href="/blog/how-to-fine-tune-open-source-ai-models-for-fun-and-profit/">here</a></p>


</div>
