---
title: "LoveInABox"
description: "A cooking app that lets you order a kit of ingredients for each recipe"
date: 2022-09-23T15:38:46-03:00
modified: 2022-09-30T13:59:38-03:00
image: /assets/images/projects/project-loveinabox.webp
imageCaption: "The LoveInABox project mockup"
permalink: /work/love-in-a-box/
stack: Figma
status: Archived (concept app)
star: true
period: 2022
role: Designer
url: https://www.figma.com/file/1iGs2RMrqusUPN5RxWDops/LoveInABox?type=design&node-id=0%3A1&mode=design&t=xo1iSRrJBL7jdIBF-1
url_button: View on Figma
tags:
    - concept
    - project
    - cooking
    - design
---

<div class="wrapper">
    <p>
        ❤️ LoveInABox is a cooking app where you will be able to discover new recipes and order a cute little kit with the ingredients to cook them. Like <a rel="nofollow" target="_blank" href="https://www.hellofresh.com/">HelloFresh®</a> on steroids.
    </p>
    <p>
        You will even be able to add some extras to the order such as flowers for the table or a delicious wine.
    </p>
    <p>You will also be able to follow your favorite cooks, and buy their recipes and kits.</p>    
    <p>
        LoveInABox mantra is: "Express your love for your friends and loved ones 😻 All while we guide you in the process."
    </p>

    <p>
        The box will include the history of the recipe, the step by step and also a profile of the cook! You can follow them through the application and collaborate with them by giving them tips ❤️        
    </p>
    <p>Let's get cooking!</p>
    <p>👨‍🍳❤️👩‍🍳</p>

    {# <div>
        <p>👉 <a href="https://www.figma.com/file/1iGs2RMrqusUPN5RxWDops/LoveInABox?type=design&node-id=0%3A1&mode=design&t=p5mw2Oyub2V8oY19-1" target="_blank" rel="noopener nofollow">Go to the Figma prototype</a></p>

        
    </div> #}
</div>