---
title: jQuery Codex
description: A plugin for sodomizing strings of text •̀ᴗ•́
image: /assets/images/projects/project-jquery-codex.gif
date: 2020-05-24T21:21:22-03:00
imageCaption: "jquery-codex"
star: true
stack: jQuery, Javascript, npm
status: Archived
period: 2020
permalink: /work/jquery-codex/
role: Developer
tags:
  - project
  - coding
  - jquery
---

<div class="wrapper">
    <p>
        jQuery-codex is a plugin for sodomizing strings of text. In newer versions there are several effects available. You can see the code examples on its <a href="https://github.com/minimo-io/jquery-codex">Github page</a>.
    </p>
    <p>
        The original idea for the first effect came from a CCC page that I couldn’t find again. So I code it myself. Many improvements are missing. Code them and share them via pull request!
    </p>
    <h2 id="examples" class="h3 font-italic">Examples.</h2>

    <p>
        These are the examples of how to use the jQuery Codex to achieve completely and absolutely unproductive text effects.
    </p>

    <div class="text-center">
        <p>
            <h4 class="codex" id="codex5">Thomas Kennerly Wolfe Jr.</h4>
            <a class="btn" id="do5">The "Typewriter" effect</a>      
        </p>
<pre class=""><code>jQuery('#codex5').codex({
    effect: 'typewriter', 
    speed: 50, 
    reveal: 50
});</code></pre>          
        <p>
            <h4 class="codex" id="codex4">Hunter S. Thompson</h4>
            <a class="btn" id="do4">Efecto "Char by Char"</a>
        </p>
<pre class=""><code>jQuery("#codex4").codex({
    effect: "charbychar",
    keep_whitespaces: false,
    speed: 50,
    reveal: 100
});</code></pre>         
        <p>
            <h4 class="codex" id="codex2">Roberto Arlt</h4>
            <a class="btn" id="do2">Efecto normie (slow)</a>            
        </p>
<pre class=""><code>jQuery("#codex2").codex({
    speed: 80,
    duration: 6000
});</code></pre>        
    </div>
    <style>.codex{ font-familiy: monospace; }</style>
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/minimo-labs/jquery-codex/jquery.codex.js"></script>
    <script>
        $(function () {
            
            jQuery('#do5').click(function () {
                jQuery('#codex5').codex({
                    effect: 'typewriter', 
                    speed: 50, 
                    reveal: 50
                });
            });
            jQuery('#do4').click(function () {
                jQuery("#codex4").codex({
                        effect: "charbychar",
                        keep_whitespaces: false,
                        speed: 50,
                        reveal: 100
                });
            });
            jQuery('#do2').click(function () {
                jQuery("#codex2").codex({
                    speed: 80,
                    duration: 6000
                });
            });

        })
    </script>
</div>