---
date: 2023-12-14T11:00:00-03:00
title: "Nostrification 101"
description: "Interesting Nostr stuff for newcommers"
image: "/assets/images/blog/nostrification-101.webp"
tags:
  - nostr
---

<div class="wrapper mt-2">
    <p>
        In my process of nostrification I stumble upon some interesting stuff worth checking for newcommers.
        <br>Here follow both an <a href="#apps-and-services">Apps & Services</a> and <a href="#guides">Guides</a> lists.
    </p>       

    <h2 id="dev-resources" class="h3 font-italic">Developer Resources</h2>
    <ul>
        <li><a href="https://nostr.net/">nostr.net</a>: A collection of projects and resources built on nostr to help developers and users.</li>
        <li>
            <a href="https://github.com/nostr-dev-kit">NVK</a>: Nostr Development Kit by pablof7z.
        </li>
    </ul>

    <h2 id="apps-and-services" class="h3 font-italic">Apps & Services.</h2>
    <ul>
        <li><a href="https://nostr.watch/">nostr.watch</a>: Find fast nostr relays.</li>
        <li><a href="https://habla.news/faq">habla.news</a>: A nostr-based web app that enables anyone to earn from their writing.</li>
        <li><a href="https://www.nostrapps.com/">nostrapps.com</a>: A curated list of Nostr apps.</li>
        <li><a href="https://nostrsync.live/">nostrsync.live</a>: Download a copy of your Data.</li>
        <li><a href="https://zaplife.lol/">zaplife.lol</a>: Zapping stats.</li>
        <li><a href="https://stats.nostr.band/">stats.nostr.band</a>: Nostr Real Time Stats.</li>
        <li><a href="https://nostrends.vercel.app/">nostrends.vercel.app</a>: What's trending on Nostr?</li>
    </ul>
    
    <h2 id="guides" class="h3 font-italic mt-2">Guides.</h2>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=4qOVxq9lUbs">Build your First Nostr App by Super Testnet</a>.</li>
        <li><a href="https://nostr.how/en/guides/get-verified">Get NIP-05 verified</a>, also <a href="https://gist.github.com/metasikander/609a538e6a03b2f67e5c8de625baed3e">this gist</a>.</li>
    </ul>

</div>
