---
date: 2024-02-19T16:12:00-03:00
title: "Svelte & Vite DevOps"
description: "A guide for self-guiding oneself on how to get some sort of guidance in this new Vite and Svelte-guided dev world"
image: "/assets/images/blog/vite-svelte-dev-v2.webp"
tags:
  - svelte
  - javascript
---
<div class="wrapper mt-2">
    <p>In 2024 I am pivoting my stack.</p>
    <p>
        Moving from back to the web, from Dart to Nodejs and Express, from Flutter to Svelte. From heavy CMSs to the jamstack lolz of Eleventy. Reasons in a future, more philosophical, probably non-sensical article.
    </p>
    <p>
        So first and foremost some quick (always changing) definitions.
    </p>
    <p>
        <strong>What is Vite?</strong>: A (rollup based) front-end build tool (aka bundler) and development server designed for modernnnnnnn-ous webdev.
    </p>
    <p>
        <strong>What is Svelte? And SvelteKit?</strong>: As Svelte4 was concern, Svelte was a components framework, and SvelteKit an app framework. 
    </p>
    <p>Meaning that if what you need is to inject some simple functioanlity to a page (say one created with a Static Site Generator like Eleventy) then Svelte + Vite is for you (that's the case for <a href="https://minimo.io">minimo.io</a>).</p>
    <p>If on the other hand if what you need is to build a full-stack lovely and creepy application then SvelteKit is your way to go. More on this in <a href="https://youtu.be/z7n17ajJpCo?si=zx8RuvJNbqgBuXIm&t=2410">this video</a> about Svelte 5 with Rich Harris <i>(Feb 1st, 2024)</i>.</p>

    <p>
        Got it! So what else would do I need? A component library? Tailwind?
    </p>
    <p><strong>First</strong>, try out the technology. Svelte made a partnership with <a href="https://stackblitz.com/">Stackblitz</a> (a fullstack web IDE, like the Figma for code editors), so you can try it out online right from their <a href="https://svelte.dev/repl/">REPL</a>.</p>
    <p><strong>Second</strong>, undestand the difference between Svelte & SvelteKit with a practical example. The Svelte team is not making this easier for newcommers as the consciously try to blur the difference.
    I will make one of this example as I progress with my own learnings.
    </p>
    <p><strong>Third,</strong> learn Svelte5 and all its nuances.</p>
    <p><strong>Fourth,</strong>, create a small SvelteKit app, like the one I am migrating to Svelte: <a href="/work/lightning-beer-app/">The LightningBeer</a></p>

    <h2 id="refs" class="h3 font-italic mt-2">References.</h2>
    <ul>
        <li>Svelte 5 is in preview, here is <a href="https://svelte.dev/blog/whats-new-in-svelte-march-2024">March 2024 update</a>.</li>
        <li>
            <a href="https://www.youtube.com/watch?v=TOTUXiYZhf4">Understanding Svelte5 runes</a>, more
            <a href="https://www.youtube.com/watch?v=tC9KSwnczxQ">here</a>, and even more <a href="https://www.youtube.com/watch?v=JRZCqUOmFwY">here</a>.
        </li>
        <li>Why not also add <a href="https://www.typescriptlang.org/docs/handbook/typescript-from-scratch.html"> Typescript</a> for static type checking.</li>
        <li><a href="https://www.shadcn-svelte.com">Shadcn-svelte</a>, as a component library.</li>
        <li><a href="https://kinsta.com/knowledgebase/what-is-an-environment-variable/">Environment Variables: What They Are and How To Use Them</a>, more <a href="https://devzibah.hashnode.dev/using-a-dotenv-file-to-store-and-use-api-keys-in-a-vite-built-react-app">here</a>.</li>
    </ul>


</div>