{% macro box(fontSize="font-size:var(--fs-clamped-200);", extraClasses="", showDetails = false, hideShortName = false) %}
    <div class="author-box{% if extraClasses %}{{ extraClasses }}{% endif %}">
        <div>
            <img
                decoding="async"
                width="100"
                class="img-profile img-circular"
                src="/assets/images/yet-another-guy.webp"
                alt="profile-image"
                loading="lazy"></div>
            <div>
                {% if hideShortName === false %}
                    <h2 class="h4 font-weight-600">{{ site.authorShort }}</h2>
                    {% include "components/social-icons.njk" %}
                {% endif %}
                <p style="{{ fontSize }}">
                    👋 Hey!{% if hideShortName %}
                        I'm Nicolas!
                    {% endif %}
                    I'm a Developer & UI/UX Designer, interested in bringing digital ideas to life! More about me <a href="/" class="font-weight-400">here</a>.
                </p>
                {% if showDetails %}
                    <dl
                        class="mt-1">
                        {# <dt>
                                                                                                                                                                                                    <a href="https://github.com/minimo-io" target="_blank">github.com/minimo-io</a>
                                                                                                                                                                                                </dt> #}
                        <dt>
                            <a href="mailto:nicolas@minimo.io">nicolas@minimo.io</a>
                            or @<a href="#" target="_blank">
                                minimo</a>
                        </dt>

                        <dt>São Paulo/Brazil / Uruguay (GMT-03:00)</dt>

                    </dl>
                {% endif %}
            </div>
        </div>
    {% endmacro %}
