{% macro map(loadApp=false, wrap="wrapper") %}
    {% set gpxFilesPath = '/assets/gpxs/' %}
    {% set gpxFileInit = gpxFilesPath + gpxs[0].file  %}
    <div x-effect="displayGpx($('#biking-map'), gpxFile)" x-data="{ gpxFile: '{{ gpxFileInit }}' }">
        <div class="{{ wrap }}">
            <section id="biking-map" class="gpx mt-1" data-gpx-source="{{ gpxFileInit }}" data-map-target="latest-biking-map">
                <header>
                    <h3>Loading...</h3>
                    <span class="start"></span>
                </header>
                <footer>
                    <ul class="info">
                        <li>Distance:&nbsp;<span class="distance"></span>km</li>
                        · <li>Duration:&nbsp;<span class="duration"></span></li>
                        · <li>Pace:&nbsp;<span class="pace"></span>/km</li>
                        {# / <li>Avg&nbsp;HR:&nbsp;<span class="avghr"></span>&nbsp;bpm</li> #}
                        · <li>Elevation:&nbsp;+<span class="elevation-gain"></span>m,
                            -<span class="elevation-loss"></span>m
                            (net:<span class="elevation-net"></span>m)</li>
                    </ul>
                </footer>

                <div class="map" id="latest-biking-map"></div>
                            
            </section>
        </div>
        {% if loadApp === true %}
            <div class="wrapper wrapper-wide">
                <h3 class="font-italic mt-2">Other rides.</h3>
                <p>Total kms on <a href="https://www.strava.com/athletes/71907777">Strava</a>: 4,050km.</p>
                <ol reversed>
                    {% for gpx in gpxs %}
                        <li>
                            {{ gpx.country }} / {{ gpx.kms }}km / {{ gpx.date | rideDate }} / 
                            <a @click.prevent="gpxFile = '{{ gpxFilesPath + gpx.file }}'; goToHashed('#biking-map')">{{ gpx.title }}</a>
                        </li>
                    {% endfor %}
                    
                </ol>          
            </div>
        {% endif %}    
    </div>
{%endmacro%}