{% macro cloud() %}
    <h2 id="tag-cloud" class="h3 font-italic">Tag cloud</h2>
    {% for post in collections.posts %}
        {% for tag in post.data.tags %}
            {% if tag != "posts" %}
                <a title="Link to tag `{{ tag | escape }}`" href="/tag/{{ tag | slugify }}/">
                    <span class="pill">{{ tag }}</span></a>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}