/* media queries */
@media (max-width: 768px) {
    :root {
        --wrapper-gutter: 1.5rem;
    }
    .star::before {
        display: none;
    }
    .d-none-mobile {
        display: none;
    }
    .author-box > :last-child {
        padding-inline: 2rem;
    }
    .projects {
        gap: 2.5rem;
    }
    .nav-buttons {
        gap: 1.1rem;
    }
    .nav-buttons .btn-sm {
        font-size: 0.7rem;
    }
}
@media (max-width: 1000px) {
    .project:not(.project-single) {
        flex-direction: column;
        padding-inline: calc(var(--wrapper-gutter) - 0.8rem);
        width: 100%;
    }
    .project-details {
        width: 100%;
        order: 0;
        gap: 0;
    }
    .project-img {
        order: 1;
    }
}
