/* media queries */
@media (max-width:768px){
    :root{ --wrapper-gutter: 1.5rem; }
    .star::before{ display:none; }
}
@media (max-width: 1000px){
    .project {
        flex-direction: column;
        padding-inline:var(--wrapper-gutter);
    }
    .project-details{ order:0; }
    .project-img{ order:1; }

}