/* typographies, texts and font sizes */
body{ 
    background:var(--background); 
    /* Firefox */
    -moz-osx-font-smoothing: grayscale;
    /* WebKit  */
    -webkit-font-smoothing: antialiased; 
}
body, code, pre{
    line-height: 1.5;
    font-size:var(--fs-clamped-300);
    font-family: var(--ff-body);
    font-weight: 300;
    color:var(--foreground-text);
}
p{
    margin-top:1rem;
    font-size:var(--fs-clamped-300);
}
blockquote p{ 
    margin:0;
    font-size: var(--fs-clamped-500); 
    font-family: var(--ff-heading);
    line-height: 1;
}
pre > code, figcaption{ font-size: var(--fs-clamped-200); }
figcaption{
    color: var(--foreground-text);
    font-style: italic;
    text-align:right;
    margin:.5rem 1rem auto 1rem;
}
p, h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: var(--ff-heading);
    line-height: 1;
    margin:1rem 0;
    /* check this out for balance (imperfect support): https://www.youtube.com/watch?v=snKm-VzJCOo */
    text-wrap: balance;
}
h6, .h6, h5, .h5, h4, .h4{ font-weight: 400;  }
h3, .h3, h2, .h2, h1, .h1{ font-weight: 600; }
h6, .h6{ font-size: var(--fs-clamped-400); }
h5, .h5{ font-size: var(--fs-clamped-500); }
h4, .h4{ font-size: var(--fs-clamped-600); }
h3, .h3{ font-size: var(--fs-clamped-700); }
h2, .h2{ font-size: var(--fs-clamped-800); }
h1, .h1{ font-size: var(--fs-clamped-900); }
a.heading-hash{ 
    text-decoration:none; 
    border-bottom:0; 
    vertical-align: text-top;
}
.nav, .nav a{ 
    font-size:var(--fs-clamped-300);
}
.fs-400{ font-family: var(--ff-body); }
.wrapper-profile p, .fs-400{
    line-height: 1.5;
    font-size: var(--fs-clamped-400);
    font-weight: 300;
}
p.profile-links a{
    font-size:var(--fs-clamped-400);
    font-weight: 400;
    line-height: 1.75rem;
}
a{ 
    color:var(--foreground-text);
    border-bottom: var(--links-border);
    font-weight: 400;
    /* background:var(--background);
    filter:invert(100%); */
}
a:hover{ opacity: .5; }
strong{ font-weight: 400; }
