---
title: Biking
description: Some aventures on top of a bike 🚴🏼‍♂️
---
{% import "macros/links.njk" as link %}
{% import "macros/heros.njk" as hero %}

<div id="main" class="wrapper mt-2">
    <p>
        Bike adventures registered on GPX files (<a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format" target="_blank" rel="noopener noreferrer">GPS Exchange Format</a>). Here's an interesting tool to visualize them: <a href="https://gpx.studio" target="_blank" rel="noopener noreferrer">gpx.studio</a>
    </p>
    <div class="biking-app"></div>
   
</div>