---
title: Biking
description: Some aventures on top of a bike 🚴🏼‍♂️
alpine: true
tags:
    - alpinejs
---
{# {% import "macros/links.njk" as link %}
{% import "macros/heros.njk" as hero %} #}
{% import "macros/biking-map.njk" as biking with context %}

<div id="main" class="wrapper">
    <p class="text-truncate">
        Total kms recorded: {{ site.strava.kms }}kms
        <br>
        Total rides: {{ site.strava.rides }}
        <br>
        Current gear: <a href="#biking-gear">{{ site.strava.gear }}</a>
        <br>
        Last update: {{ site.strava.lastUpdate }}
    </p>  
    <p>
        This is the latest bike adventure registered as a <a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format" target="_blank" rel="noopener noreferrer">GPX file</a>. More rides <a href="#other-rides">below</a>.
    </p>        
</div>

{{ biking.map(loadApp=true, wrap="wrapper wrapper-widest") }}

<div class="wrapper wrapper-wide deeplinked">
    <h2 id="biking-skills" class="h3 font-italic">Bikepacking skills</h2>
    <p>
        Bikepacking involves lots of different skills that build up over time and practice.
        So first, let's summarize those groups of skills to acquire and then let's get deep into the nitty gritty details.
    </p>
    <h4 class="font-italic">General skills to have</h4>
    <ol>
        <li>Camping</li>
        <li>Navigation & Communication</li>
        <li>Bike Repair & Maintenance</li>
        <li><a href="https://www.youtube.com/@GrayBeardedGreenBeret">First Aids</a></li>
        <li>Work while on the Road</li>
        <li>Clothing & Food</li>
    </ol>
    <p>Those skills groups can help us determine our kits & packs. <strong>A small kit for each would be reasonable enough, if they fit into our bags</strong>.</p>
    <h4 class="font-italic">Practical skills worth having</h4>
    <ol>
        <li><a href="https://www.youtube.com/watch?v=zHsUOEhDiNM">How to fix a broken bicycle chain</a> (Portuguese)</li>
        <li><a href="https://youtu.be/Rl-rz1z3WS8?si=63eHnEZS-zhevZ3r&t=928">Lubricant bases for bike chains</a> (Portuguese)</li>
        <li><a href="https://www.youtube.com/watch?v=8zBaiCxzGq4">How to make an anti-punch tape, homemade and cheap.</a> (Portuguese)</li>
    </ol>
    <h4 class="font-italic">Other practical tips</h4>
    <ol>
        <li>In dangerous contries
            <ul>
                <li>Never travel at night</li>
                <li>Cycle into cities in the middle of the day</li>
                <li>Take the biggest possible roads into big towns</li>
                <li>When <strong>wild camping</strong> always set up your tent at sunset so you are less prone to being detected</li>
            </ul>
        </li>

    </ol>
</div>