---
title: Blog
description: A collection of articles
---
{% import "macros/lists.njk" as list %}
<div id="main" class="archive wrapper Xwrapper-wide mt-2">
    {{ list.archive(collections.posts) }}
</div>