---
permalink: /
description: "Design, prototyping and creation of digital craziness using Figma, Svelte, WP/Woocommerce & SSGs like 11ty"
---
{% import "macros/lists.njk" as list %}
{% import "macros/biking-map.njk" as biking %}

<div class="wrapper article text-justify mt-5">
    <h2 id="summary" class="h3 font-weight-600 Xtext-center">
        🦄 <span class="font-italic">Summary</span>
    </h2>
    <p class="Xfs-400 font-italic Xtext-center">
        A yearly summary of all activities, project launches, articles on development, design and... eveything in between!  👉 <a href="/blog/">Go to the full archive</a> ({{ collections.posts.length }} articles)
    </p>
   
    <div  class="archive mb-4">
        <h2 class="h4 font-italic font-weight-600">Latest project.</h2>
        <a href="/work/lightning-beer-app/">
            <figure>
                <img src="/assets/images/projects/project-lightning-beer.webp" alt="lightning-beer-project" class="img-rounded">
                <figcaption><strong>LightningBeer</strong>: design & development</figcaption> 
            </figure>
        </a>        
        {{ list.archive(collections.posts, "2024") }}
        {{ list.archive(collections.posts, "2023") }}
    </div>

    <div class="mb-4">
        <h2 id="biking" class="h3 font-weight-600">
            🚴🏼‍♂️ <span class="font-italic">Biking</span>
        </h2>    
        <p class="font-italic">
            Latest bike adventure registered on a <a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format" target="_blank" rel="noopener noreferrer">GPX file</a>.<br>
            👉 All biking <i>tournées</i> <a href="/biking/">here</a>.
        </p>
        
        {{ biking.map(loadApp=false) }}

    </div>

    {# <h2 id="photos" class="h3 font-weight-600 mt-4">
        🖼️ <span class="font-italic">Photos</span>
    </h2>  

    <p class="font-italic">A collection of public available pictures.</p>   #}  
</div>