---
permalink: /
description: "Design, prototyping and creation of digital craziness using Figma, Svelte, WP/Woocommerce & SSGs like 11ty"
alpine: true
---
{% import "macros/lists.njk" as list %}
{% import "macros/biking-map.njk" as biking with context %}
{% import "macros/tags.njk" as tags with context %}

<div class="wrapper article text-justify mt-5">
    <h2 id="summary" class="h3 font-weight-600">
        🦄 <span class="font-italic">Latests.</span>
    </h2>
    <p class="font-italic">
        A summary of all activities for the last two years!
        <br>👉 <a href="/blog/">Go to the full archive</a> ({{ collections.posts.length }} entries)
    </p>
   
    <div  class="archive mt-1 mb-4">
        <p>
            <a href="/work/lightning-beer-app/">
                <figure>
                    <img src="/assets/images/projects/project-lightning-beer.webp" alt="lightning-beer-project" class="img-rounded">
                    <figcaption><strong>LightningBeer</strong>: design & development</figcaption> 
                </figure>
            </a>
        </p>
        {{ list.archive(collections.posts, "2024", showTags=false) }}
        {{ list.archive(collections.posts, "2023", showTags=false) }}
        <br>
        <p>💯 Full archive <a href="/blog/">here</a>.</p>
    </div>

    <div class="mb-2">
        <h2 id="biking" class="h3 font-weight-600">
            🚴🏼‍♂️ <span class="font-italic">Biking</span>
        </h2>    
        <p class="font-italic">
            Latest bike adventure registered on a <a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format" target="_blank" rel="noopener noreferrer">GPX file</a>.
            👉 All biking <i>tournées</i> <a href="/biking/">here</a>.
        </p>
        

    </div>

</div>

{{ biking.map(loadApp=false, wrap="wrapper wrapper-widest") }}

<div class="wrapper">
    <div class="archive article text-center line-height-2 mt-3">
        {{ tags.cloud() }}
    </div>    

    {# <h2 id="photos" class="h3 font-weight-600 mt-4">
        🖼️ <span class="font-italic">Photos</span>
    </h2>  

    <p class="font-italic">A collection of public available pictures.</p>   #}  
</div>