---
permalink: /
description: "Design, prototyping and creation of cross-platform craziness using Figma, Vue.js, Flutter, Woocommerce & SSGs like 11ty"
---
{% import "macros/lists.njk" as list %}
<div class="wrapper article text-justify mt-5">
    <h2 id="summary" class="h3 font-weight-600 Xtext-center">
        🦄 <span class="font-italic">Summary</span>
    </h2>
    <p class="Xfs-400 font-italic Xtext-center">A yearly summary of all <a href="/work/">work</a> activities, project launches, articles, etc, involving development, design and... eveything in between!</p>
    <div  class="archive mb-4">
        {{ list.archive(collections.posts) }}
       <p class="mt-1">
            
            <a href="/blog/">👉 Go to full archive</a>
        </p>
    </div>

    <div class="mb-4">
        <h2 id="photos" class="h3 font-weight-600">
            🖼️ <span class="font-italic">Photos</span>
        </h2> 
    
        <p class="Xfs-400 font-italic">A collection of public available pictures.</p>
    </div>

    <h2 id="biking" class="h3 font-weight-600 mt-4">
        🚴🏼‍♂️ <span class="font-italic">Biking</span>
    </h2>    
     <p class="Xfs-400 font-italic">Some aventures on top of <a href="/biking/">a bike</a>, on <a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format" target="_blank" rel="noopener noreferrer">GPX files</a>.</p>        
</div>