---
title: Work
description: Apps, websites, extensions and <br>prototypes 🚀
---
{% import "macros/lists.njk" as list with context %}
{% import "macros/links.njk" as link %}
{% import "macros/heros.njk" as hero %}
{% import "macros/author-box.njk" as author with context %}

<div class="wrapper mt-2">
    
    {# <p class="alert">👉 Currently working on <a href="https://braaay.com">Braaay.com</a> & the <a href="/work/lightning-beer-app/">Lightning Beer App</a></a></p> #}

    {{ author.box(fontSize="font-size:var(--fs-clamped-300);", extraClasses=" pt-0", showDetails=true, hideShortName=true) }}

    <hr>

    <div id="main" class="archive mt-2">
        {{ list.work(collections["project"]) }}
    </div>

</div>