---
title: Work
description: Apps, designs, websites, extensions and <br>prototypes 🚀
---
{% import "macros/lists.njk" as list with context %}
{% import "macros/links.njk" as link %}
{% import "macros/heros.njk" as hero %}
{% import "macros/author-box.njk" as author with context %}

<div class="wrapper mt-2">
    {# <p class="alert">👉 Currently working on <a href="https://braaay.com">Braaay.com</a> & the <a href="/work/lightning-beer/">Lightning Beer App</a></a></p> #}

    {{ author.box(fontSize="font-size:var(--fs-clamped-300);", extraClasses=" pt-0", showDetails=true, hideShortName=true) }}

    {# <div class="tags wrapper mt-2 text-center">
        <a href="/tag/coding/"><span class="pill">coding</span></a>
        <a href="/tag/design/"><span class="pill">design</span></a>
    </div> #}
    <hr>

    <div id="main" class="archive wrapper mt-2">
        {{ list.work(collections["project"]) }}
    </div>

    {# <h3 class="h4 font-italic">
        <span class="font-weight-400"><a href="http://braaay.com">Braaay.com</a></span>
    </h3>
    <p class="fs-400 font-italic">
        A  wines & craft beer e-commerce & app for Brazil and Uruguay (launched in 2023!)
    </p>
    <figure>
        <img src="/assets/images/project-braaay.webp" alt="Some cool image" class="img-rounded">
        <figcaption>Mobile web design for Braaay.com</figcaption> 
    </figure>
    <p>Initial work:</p>
    <ul>
        <li><span class="text-underline font-weight-400">Branding & Design</span>, identity, style guides, business cards, sales pdfs & logos.</li>
        <li><span class="text-underline font-weight-400">UX/UI Design</span>, website & (future) app.</li>
        <li><span class="text-underline font-weight-400">Development</span>, a custom WooCommerce theme created on top of Uncode + Adhoc plugins.</li>
        <li><span class="text-underline font-weight-400">Payment Gateways</span> implementations for Brazil and Uruguay, based on MercadoPago & OpenNode.</li>
    </ul>
    <p>Current work:</p>
    <ul>
        <li>WP/WooCommerce Development & Integrations.</li>
        <li>Content, SEO & Link building.</li>
        <li>Graphics & Marketing (like stickers, tags, etc).</li>
        <li>Server maintenance.</li>
    </ul>
    {{ link.project("https://braaay.com") }}    

    <br>

    <!-- Hops -->
    <h3 class="h3 font-italic text-left font-weight-600">
        <a href="https://hops.uy">Hops.uy</a>
    </h3>
    <p class="fs-400 font-italic">An open marketplace for craft beers!</p>
    <figure>
        <img src="/assets/images/project-hops.webp" alt="Some cool image" class="img-rounded">
        <figcaption>Android app for Hops.uy</figcaption> 
    </figure>
    <p>Some awesome text explaining the Hops project... how it was bought by Braaay.</p>


    <br>
    #}

</div>