---
title: "Nostr followback tool"
description: "Find out who doesn't follow you back on Nostr"
js: "https://cdn.jsdelivr.net/gh/minimo-io/appticles@0.0.8/nostr-followback/dist/assets/index-eHr-vUAo.js"
css: "https://cdn.jsdelivr.net/gh/minimo-io/appticles@0.0.8/nostr-followback/dist/assets/index-CQsJsJlh.css"
---

<p>Let's promote some reciprocity here! Find out who does and who doesn't follow you back on Nostr, just to let them now 😹</p>

<p>
    This is a concept micro-app with the goal of having a first contact with the <a href="https://github.com/nostr-protocol">Nostr Protocol</a>, and trying out libraries like <a href="https://github.com/nostr-dev-kit/ndk">NDK by pablof7z</a>.
    Find <a href="https://github.com/minimo-io/appticles/tree/main/nostr-followback">the Github repo</a> for bugs and To Do lists.
</p>
<p class="alert w-100 font-weight-600">🚨 This is a very early stage prototype, be kind.</p>